html {
  font-family: 'Inter', sans-serif;
}

#chart-container {
  height: 75%;
  width: 75%;
  position: relative;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
